/* Index */
#header {
	margin-bottom:0;
	background-color: #e29898;
}

/* Stats */
#side-panel {
	background-color: #eae2d7;
}


#chart_div {
	min-height: 400px;
}

/* Status */

.cam-indicator {
	background-color: red;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}


/* About */

.empty {
	min-height: 100px;
}