/* Index */
#header {
	margin-bottom:0;
	background-color: #e29898;
}

/* Stats */
#side-panel {
	background-color: #eae2d7;
}

.form-group.stats label {
	font-family: sans;
	font-size: 2vmax;
}

.chart {
	width: 95%;
	min-height: 0px;
}

#chart_div {
	min-height: 0px;
}


/* About */

.empty {
	min-height: 100px;
}