<div class="container">
	<h1>Acerca de</h1>
  <p>Este sistema fue desarrollado en el Instituto  Politécnico Nacional. Mayor información puede obtenerse con: </p>
	<p><br />
	  Joaquín Salas<br />
	  CICATA Querétaro<br />
	  Instituto Politécnico Nacional<br />
	  Cerro Blanco 141, Colinas del Cimatario<br />
	  Querétaro, CP 76030<br />
	  Tel. 01 55 5729 6000 x 81015, x 81002<br />
	  Email: <a href="mailto:jsalasr@ipn.mx">jsalasr@ipn.mx</a>, <a href="mailto:dircicataqro@ipn.mx">dircicataqro@ipn.mx</a></p>
    <p>Este producto está protegido por las patentes:  MX/a/2014/015325, MX/a/2015/016511, MX/a/2016/017199; registros de modelo de  utilidad MX/f/2016/003739 y registro de derechos de autor. </p>
    <p>Junio 12, 2018</p>
<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
</div>