<script src="js/home.js"></script>
<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-9">
			<h1>&nbsp;</h1>
			<h1>Bienvenidos</h1>
		  <p>Aquí podrás ver la siguiente información:</p>
			<p>&nbsp;1. El estado del contador (opción Sistema), </p>
			<p>&nbsp;2. La cantidad de usuarios que han entrado y  salido desde un determinado punto monitoreado</p>
			<p><br />
			  &nbsp;&nbsp;&nbsp; a. en forma gráfica (opción  Gráficas)<br />
			  &nbsp;&nbsp;&nbsp; b. en forma de archivo CSV (opción  Reportes)</p>
      </div>
	</div>
	<div class="empty"></div>
	<div class="text-center">
		<div class="row">
			<div class="col-6 text-center">
				<h2>Entradas</h2>
				<h2 class="counter" id="in">6</h2>
			</div>
			<div class="col-6 text-center">
				<h2>Salidas</h2>
				<h2 class="counter" id="out">7</h2>
			</div>
		</div>
		<button type="button" class="btn btn-info" id="liveCountBtn">Actualizar</button>
	</div>
	<div class="empty"></div>
</div>