<div class="container">
	<div class="row">
		<div class="col-3">
			<img src="ims/sampleCount1.jpg" class="rounded float-left" alt="im1" width="200">
			<img src="ims/sampleCount2.jpg" class="rounded float-right" alt="im2" width="200">
		</div>
		<div class="col-9">
			<h1>Contador de Usuarios</h1>
			<p>Bienvenido al monitor de usuarios. Aquí podras ver informacion del estado del contador, así como la cantidad de usuarios que han entrado y salido desde un determinado punto monitoreado.</p>
			<p>Para poder ver las diferentes gráficas, selecciona la opcion Estadísticas en el menú de navegación.</p>
		</div>
	</div>
	<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
</div>