<script src="js/status.js"></script>

<div class="container">
	<div align="center">
		<h1>Estado del Sistema</h1>
	</div>
	<div class="row">
		<!-- Check for gradient buttons with CSS https://stackoverflow.com/a/27776835-->
		<div class="col-sm-3" align="center">
			<h3>Cámara 1</h3>
			<div class="cam-indicator" id="cam-1"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 2</h3>
			<div class="cam-indicator" id="cam-2"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 3</h3>
			<div class="cam-indicator" id="cam-3"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 4</h3>
			<div class="cam-indicator" id="cam-4"></div>
		</div>
	</div>

	<div class="empty"></div>

	<div align="center">
		<button type="button" class="btn btn-info">Reiniciar</button>
	</div>

	
	<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
</div>