<script src="js/stats.js"></script>

<div class="container-fluid" id="stats">
	<div class="row">
		<div class="col-sm-2" id="side-panel" align="center">
			<form>
				<div class="form-group stats">
					<label for="period_select"><h3>Periodo</h3></label>
					<select class="form-control" id="period_select">
						<option value="year" selected>Año</option>
						<option value="month">Mes</option>
						<option value="day">Día</option>
					</select>
				</div>
			</form>

			<form>
				<div class="form-group stats">
					<label for="chart_select"><h3>Gráfica</h3></label>
					<select class="form-control" id="chart_select">
						<option value="area" selected>Área</option>
						<option value="lines">Líneas</option>
						<option value="bars">Barras</option>
					</select>
				</div>
			</form>

			<form>
				<div class="form-group stats">
					<label for="year_select"><h3>Año</h3></label>
					<select class="form-control" id="year_select">
						<option selected></option>
						<!-- Years dynamically inserted here -->
					</select>
				</div>
			</form>

			<form>
				<div class="form-group stats">
					<label for="month_select"><h3>Mes</h3></label>
					<select class="form-control" id="month_select">
						<option selected></option>
						<!-- Months dynamically inserted here -->
					</select>
				</div>
			</form>

			<form>
				<div class="form-group stats">
					<label for="day_select"><h3>Día</h3></label>
					<select class="form-control" id="day_select">
						<option selected></option>
						<!-- Days dynamically inserted here -->
					</select>
				</div>
			</form>
						
		</div>
		<div class="col-sm-10">
			<div class="tile" align="center">
				<h1 id="main-title">&nbsp;</h1>
				<h1>Titulo de Gráfica</h1>
				<h3 id="main-period">Periodo de la Gráfica</h3>
			</div>
			<div id="chart_div"></div>
			<div class="container" id="chart_description">
				<p align="justify">La selección del Periodo permite visualizar las  cuentas desde su inicio. Por ejemplo, la selección de Periodo por año, da la  cuenta entre enero 1 y diciembre 31. La selección del Periodo por mes, da la  cuenta del primero al último día del mes. Enseguida, la selección del Periodo  por día, da cuenta desde el primero y hasta el último minuto en intervalos de  media hora.</p>
				<p align="justify">				  Se pueden seleccionar entre gráficas de Area, Línea y  Barras. </p>
				<p align="justify">			    Finalmente, la selección de Año, Mes y Día permiten la  selección que específica el Periodo a visualizar.</p>
          </div>
			<div class="empty"></div>
			<div class="empty"></div>
			<div class="empty"></div>
		</div>
	</div>
</div>