<script src="js/status.js"></script>

<div class="container">
	<div align="center">
		<h1>&nbsp;</h1>
	  <h1>Estado del Sistema</h1>
		<p align="justify">Se determina visualmente si los contadores están  operacionales. Un indicador verde significa que el contador está operando  normalmente y gris si no. Dar click en el botón &lt;Inicia&gt; ordena al  coordinador de los contadores iniciar las unidades de conteo. </p>
		<p align="justify">&nbsp;</p>
  </div>
	<div class="row">
		<!-- Check for gradient buttons with CSS https://stackoverflow.com/a/27776835-->
		<div class="col-sm-3" align="center">
			<h3>Cámara 1</h3>
			<div class="cam-indicator" id="cam-1"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 2</h3>
			<div class="cam-indicator" id="cam-2"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 3</h3>
			<div class="cam-indicator" id="cam-3"></div>
		</div>
		<div class="col-sm-3" align="center">
			<h3>Cámara 4</h3>
			<div class="cam-indicator" id="cam-4"></div>
		</div>
	</div>

	<div class="empty"></div>

	<div align="center">
		<button type="button" class="btn btn-info status" id="start">Iniciar</button>
		<button type="button" class="btn btn-info status" id="calibrate">Calibrar</button>
	</div>

	
	<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
	<div class="empty"></div>
</div>