<!--
<script src="js/charts2.js"></script>
-->

<script src="js/statsv2.js"></script>

<div class="stats container">
	<div class="row" style="margin:0 !important">
		
		<div class="col-md-3">
			<div class="card">
				<div class="card-header text-center">Gráficas</div>
				<div>
					<ul class="list-group list-group-flush">
						<a class="list-group-item list-group-item-action text-center" id="side-panel" href="views/charts/area.html">Área</a>
						<a class="list-group-item list-group-item-action text-center" id="side-panel" href="views/charts/bars.html">Barras</a>
						<a class="list-group-item list-group-item-action text-center" id="side-panel" href="views/charts/pieChart.html">Pastel</a>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div id="chart" class="chart">
				<h1>Gráficas</h1>
				<p>Usando el panel lateral izquierdo, seleccione que información desea visualizar.</p>
			</div>
			<div id="description" class="chart"></div>
		</div>

	</div>
</div>